
#submitPhoto{
         width:100px;
	}

#code{
        width:25%;
	}
#send_code{
        
		color:white;
		background:rgb(225,87,72);
		font-size:16px;
		height:43px;
		width:100px;
		border-radius:10px;
		cursor:pointer;
		border:none;
	}
	

	