<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<!-- 加载spring容器 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:bean*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	
	<!-- =========================防止中文乱码===========================-->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<servlet-name>springmvc</servlet-name>

	</filter-mapping>


	<!-- 前端控制器 -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<!-- 加载mvc相关之间的配置 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 加载文件 -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<!-- 第一种：前端控制器解析以.action结尾的地址 第二种：/ 所有访问地址都由前端控制器来进行解析，静态文件不能由其解析 -->
		<servlet-name>springmvc</servlet-name>
		<url-pattern>*.action</url-pattern><!-- -->
	</servlet-mapping>
	
	
		<!-- 文件上传servlet -->
     <servlet>
        <servlet-name>FileUpServlet</servlet-name>
        <servlet-class>com.nsu.CloudCompute.servlet.FileUpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FileUpServlet</servlet-name>
        <url-pattern>/FileUpServlet</url-pattern>
    </servlet-mapping>
	
	

</web-app>